In [85]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [182]:
df_location = pd.read_csv("scrapper/UK_raw_data.csv")
df_location.drop_duplicates(inplace=True)
df_location.columns
df_location['Location'].unique()

array(['London, England', 'Bradford, Yorkshire and the Humber, England',
       'Edinburgh, Scotland', 'Leeds, England',
       'Belfast, Northern Ireland', 'Poole, England',
       'Sunderland, North East England, England', 'Barnwood, England',
       'Remote', 'Manchester, England',
       'Cambridge, East of England, England', 'High Wycombe, England',
       'Maidenhead, England', 'Nottingham, England', 'Melbourn, England',
       'England', 'Newport, Newport, Wales', 'Coventry, England',
       'Richmond upon Thames, England', 'Norwich, England',
       'Sedgefield, England', 'Slimbridge, England',
       'Crawley, West Sussex, South East England, England',
       'Loughborough, England', 'Kingston upon Hull, England',
       'United Kingdom', 'Reading, England',
       'Craigavon, Northern Ireland', 'Oxford, England',
       'Bristol, England', 'Guildford, England', 'Isleworth, England',
       'Abingdon, England', 'Berkhamsted, England',
       'Newcastle upon Tyne, England', 'Uxbridge, England',
       'Bolton, England', 'Leatherhead, England',
       'Waltham, Yorkshire and the Humber, England', 'Sheffield, England',
       'Runcorn, England',
       'Milton, Oxfordshire, South East England, England',
       'Royal Tunbridge Wells, England', 'Walton-on-Thames, England',
       'Feltham, England', 'Hemel Hempstead, England', 'Gatwick, England',
       'Bangor, Gwynedd, Wales', 'Peterborough, England',
       'Greater Manchester', 'Folkestone, England',
       'Bury, North West England, England', 'Surbiton, England',
       'Thame, England', 'Luton, East of England, England',
       'Bar Hill, England', 'Paisley, Scotland',
       'Swindon, Wiltshire, South West England, England', 'Renfrewshire',
       'Plymouth, England', 'Southminster, England', 'Exeter, England',
       'Galashiels, Scotland', 'Cirencester, England',
       'Stevenage, England', 'Paddington, England', 'Gloucester, England',
       'Chelmsford, England', 'Fareham, England', 'Clive, England',
       'Colchester, England', 'Stoke-on-Trent, England', 'York, England',
       'Chilworth, Hampshire, South East England, England',
       'Liverpool, England', 'Halesowen, England', 'Daresbury, England',
       'Swansea, Wales', 'Castleford, England', 'Petersfield, England',
       'Derby, England', 'Theale, South West England, England',
       'Glasgow, Scotland', 'Redruth, England', 'Milton Keynes, England',
       'Horsham, England', 'Basingstoke, England',
       'Watford, East of England, England', 'Bexhill, England',
       'Portsmouth, South East England, England', 'Bracknell, England',
       'Egham, England', 'Slough, Berkshire, South East England, England',
       'Sittingbourne, England', 'Colney, England', 'Dundee, Scotland',
       'Macclesfield, England', 'Walsall, England', 'Thetford, England',
       'Cardiff, Wales', 'Carlisle, England', 'Trafford Park, England',
       'Welwyn, England', 'West Drayton, East Midlands, England',
       'Hoddesdon, East of England, England', 'Biggleswade, England',
       'West Kilbride, Scotland', 'Morecambe, England',
       'Hatfield, East of England, England', 'Aberdeen, Scotland',
       'Brentford, England', 'Livingston, Scotland', 'Duxford, England',
       'Bedford, England', 'City of London, England', 'Bicester, England',
       'Lytham, England',
       'Farnborough, Hampshire, South East England, England',
       'Cheshunt, England', 'Wolverhampton, England',
       'Addlestone, England', 'Wimbledon, England',
       'Middlesbrough, England', 'Tranent, Scotland',
       'Welwyn Garden City, England', 'Bridgwater, England',
       'Stansted Mountfitchet, England', 'Armagh, Northern Ireland',
       'Hexham, England', 'Wilmslow, England',
       'Warrington, North West England, England', 'Greater London',
       'Royal Leamington Spa, England', 'Richmond, London, England',
       'San Francisco, CA', 'Birmingham, England'], dtype=object)

In [194]:
df_location = df_location[df_location['Salary Estimate'] != '-1'] 
df_location.reset_index(drop=True, inplace=True)

In [195]:
df_location.shape

(880, 17)

In [196]:
def sparse_country(x):
    country=''
    x = x.split(',')
    if len(x)==3:
        country = x[2]
    elif len(x) == 2:
        country = x[1]
    return country

def sparse_region(x):
    region=''
    x=x.split(',')
    if len(x)==3:
        region = x[1]
    elif len(x)==2:
        region = 'Unknown'
    return region

In [197]:
df_location['cities'] = df_location['Location'].apply(lambda x:x.split(',')[0])
df_location['region'] = df_location['Location'].apply(sparse_region)
df_location['country'] = df_location['Location'].apply(sparse_country)
print(df_location['country'])
print(df_location['region'])
print(df_location['cities'])

0       England
1       England
2       England
3       England
4       England
         ...
875     England
876
877     England
878       Wales
879     England
Name: country, Length: 880, dtype: object
0                        Unknown
1       Yorkshire and the Humber
2                        Unknown
3                        Unknown
4                        Unknown
                 ...
875                      Unknown
876
877                      Unknown
878                      Gwynedd
879                      Unknown
Name: region, Length: 880, dtype: object
0                  London
1                Bradford
2                  London
3                  London
4                  London
              ...
875                London
876    Greater Manchester
877             Bracknell
878                Bangor
879             Guildford
Name: cities, Length: 880, dtype: object

In [198]:
df = pd.read_csv("cleaned_data.csv")
df.drop('Unnamed: 0', axis=1, inplace=True)
df['City'] = df_location['cities']
df['Region'] = df_location['region']
df['Country'] = df_location['country']
print(df.info(),'\n===============================================')
print(df.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 880 entries, 0 to 879
Data columns (total 24 columns):
Company Name         880 non-null object
job_title            880 non-null object
seniority            880 non-null object
min_salary           880 non-null int64
max_salary           880 non-null int64
Rating               880 non-null float64
python               880 non-null int64
sql                  880 non-null int64
r_studio             880 non-null int64
spark                880 non-null int64
aws                  880 non-null int64
excel                880 non-null int64
sector               880 non-null object
age                  880 non-null int64
Revenue              880 non-null object
Type of ownership    880 non-null object
description_len      880 non-null int64
min_employees        880 non-null int64
max_employees        880 non-null int64
avg_size             880 non-null float64
avg_salary           880 non-null float64
City                 880 non-null object
Region               880 non-null object
Country              880 non-null object
dtypes: float64(3), int64(12), object(9)
memory usage: 165.1+ KB
None
===============================================
Index(['Company Name', 'job_title', 'seniority', 'min_salary', 'max_salary',
       'Rating', 'python', 'sql', 'r_studio', 'spark', 'aws', 'excel',
       'sector', 'age', 'Revenue', 'Type of ownership', 'description_len',
       'min_employees', 'max_employees', 'avg_size', 'avg_salary', 'City',
       'Region', 'Country'],
      dtype='object')

In [199]:
df_model = df[['avg_salary','job_title','City','Region', 'Country', 'seniority','Rating', 'python', 'sql', 'r_studio', 
               'spark', 'aws', 'excel','sector', 'age', 'Revenue', 'Type of ownership', 
               'description_len', 'avg_size']]

In [200]:
df_dummy = pd.get_dummies(df_model)

In [201]:
df_dummy.shape

(880, 205)

In [202]:
# train test split
from sklearn.model_selection import train_test_split
X = df_dummy.drop('avg_salary', axis=1)
y = df_dummy.avg_salary.values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# multiple linear regression
import statsmodels.api as sm
X_sm = sm.add_constant(X)
stat_model = sm.OLS(y,X_sm)
print(stat_model.fit().summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.257
Model:                            OLS   Adj. R-squared:                  0.068
Method:                 Least Squares   F-statistic:                     1.356
Date:                Sat, 02 Jan 2021   Prob (F-statistic):            0.00383
Time:                        02:22:20   Log-Likelihood:                -3694.3
No. Observations:                 880   AIC:                             7749.
Df Residuals:                     700   BIC:                             8609.
Df Model:                         179
Covariance Type:            nonrobust
============================================================================================================
                                               coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------------
const                                       17.3533      2.836      6.118      0.000      11.785      22.922
Rating                                      -1.6222      0.559     -2.901      0.004      -2.720      -0.524
python                                       0.9744      2.624      0.371      0.710      -4.178       6.126
sql                                         -1.3630      2.527     -0.539      0.590      -6.325       3.599
r_studio                                    11.6174      9.387      1.238      0.216      -6.813      30.048
spark                                       -0.0642      3.544     -0.018      0.986      -7.023       6.894
aws                                          0.2522      2.620      0.096      0.923      -4.892       5.396
excel                                        0.8019      1.666      0.481      0.630      -2.469       4.073
age                                          0.0094      0.018      0.522      0.601      -0.026       0.045
description_len                              0.0005      0.000      1.218      0.224      -0.000       0.001
avg_size                                     0.0001      0.000      0.343      0.732      -0.000       0.001
job_title_ai researcher                      8.7601      4.514      1.941      0.053      -0.102      17.623
job_title_analyst                            7.1371      3.297      2.165      0.031       0.664      13.610
job_title_consultant                         1.9650      4.670      0.421      0.674      -7.203      11.134
job_title_data engineer                     -3.4724      6.014     -0.577      0.564     -15.280       8.335
job_title_data scientist                     7.3693      3.452      2.135      0.033       0.592      14.146
job_title_director                           1.2504      3.242      0.386      0.700      -5.115       7.616
job_title_manager                            5.2173      2.834      1.841      0.066      -0.347      10.782
job_title_mle                              -14.5163     16.819     -0.863      0.388     -47.538      18.505
job_title_na                                 3.6428      2.499      1.458      0.145      -1.264       8.549
City_Aberdeen                               -5.6758     12.325     -0.461      0.645     -29.874      18.522
City_Abingdon                                4.4620     10.586      0.422      0.674     -16.321      25.246
City_Addlestone                             10.1884     18.551      0.549      0.583     -26.233      46.610
City_Armagh                                 -2.2579     14.552     -0.155      0.877     -30.830      26.314
City_Bangor                                 -0.2368      4.127     -0.057      0.954      -8.339       7.866
City_Bar Hill                                5.0214      9.884      0.508      0.612     -14.385      24.428
City_Barnwood                              -13.6584     12.042     -1.134      0.257     -37.301       9.984
City_Basingstoke                             0.9440     18.225      0.052      0.959     -34.838      36.726
City_Bedford                               -17.8048      9.492     -1.876      0.061     -36.441       0.832
City_Belfast                               -14.2897     10.072     -1.419      0.156     -34.065       5.486
City_Berkhamsted                            -8.9450     10.220     -0.875      0.382     -29.010      11.120
City_Bexhill                               -16.4232     14.349     -1.145      0.253     -44.596      11.749
City_Bicester                               -2.0835     14.099     -0.148      0.883     -29.764      25.597
City_Biggleswade                            -9.4206     18.470     -0.510      0.610     -45.684      26.842
City_Birmingham                            -19.6197     18.416     -1.065      0.287     -55.777      16.537
City_Bolton                                  8.1846     10.176      0.804      0.421     -11.794      28.163
City_Bracknell                             -10.8005     11.006     -0.981      0.327     -32.410      10.809
City_Bradford                              -17.6062     12.980     -1.356      0.175     -43.091       7.879
City_Brentford                               0.9429      9.289      0.101      0.919     -17.296      19.181
City_Bridgwater                             -2.4907     18.777     -0.133      0.895     -39.356      34.375
City_Bristol                                -0.7626      6.078     -0.125      0.900     -12.696      11.171
City_Bury                                   -2.8150     10.990     -0.256      0.798     -24.392      18.762
City_Cambridge                              -0.4578      4.641     -0.099      0.921      -9.569       8.653
City_Cardiff                                 3.6798     10.649      0.346      0.730     -17.229      24.589
City_Carlisle                                2.8121     13.431      0.209      0.834     -23.558      29.182
City_Castleford                            -14.1250     11.684     -1.209      0.227     -37.064       8.814
City_Chelmsford                            -20.9329     19.150     -1.093      0.275     -58.531      16.665
City_Cheshunt                               -7.1717     20.184     -0.355      0.722     -46.799      32.456
City_Chilworth                              40.5512     17.640      2.299      0.022       5.917      75.185
City_Cirencester                            -2.4634     10.849     -0.227      0.820     -23.763      18.836
City_City of London                         -9.5255     13.224     -0.720      0.472     -35.489      16.438
City_Clive                                 -38.9238     19.262     -2.021      0.044     -76.742      -1.106
City_Colchester                             47.9790     18.835      2.547      0.011      10.999      84.959
City_Colney                                 48.8935     18.994      2.574      0.010      11.601      86.186
City_Coventry                                1.6726     11.929      0.140      0.889     -21.748      25.093
City_Craigavon                              16.1365     14.736      1.095      0.274     -12.795      45.068
City_Crawley                               -18.9955      9.132     -2.080      0.038     -36.924      -1.067
City_Daresbury                              39.8639     18.683      2.134      0.033       3.183      76.545
City_Derby                                 -14.7433     11.307     -1.304      0.193     -36.943       7.457
City_Dundee                                 29.9660     12.813      2.339      0.020       4.810      55.122
City_Duxford                                -7.0494     13.040     -0.541      0.589     -32.651      18.552
City_Edinburgh                               5.2662      6.346      0.830      0.407      -7.193      17.726
City_Egham                                  -1.2544     18.602     -0.067      0.946     -37.777      35.268
City_England                                11.4150      9.782      1.167      0.244      -7.791      30.622
City_Exeter                                 27.2319     10.759      2.531      0.012       6.109      48.355
City_Fareham                               -47.9613     18.957     -2.530      0.012     -85.180     -10.743
City_Farnborough                            -5.4252     12.497     -0.434      0.664     -29.962      19.112
City_Feltham                               -14.9541      8.843     -1.691      0.091     -32.317       2.408
City_Folkestone                             -7.0871     18.620     -0.381      0.704     -43.644      29.470
City_Galashiels                             -7.8831     12.722     -0.620      0.536     -32.861      17.095
City_Gatwick                               -12.4877     14.457     -0.864      0.388     -40.871      15.896
City_Glasgow                                -9.2219      9.535     -0.967      0.334     -27.943       9.499
City_Gloucester                            -13.6637     12.043     -1.135      0.257     -37.309       9.981
City_Greater London                          3.4892     12.763      0.273      0.785     -21.570      28.548
City_Greater Manchester                    -16.2805      8.934     -1.822      0.069     -33.820       1.259
City_Guildford                              -4.3913      7.617     -0.577      0.564     -19.346      10.563
City_Halesowen                              53.0150     19.212      2.759      0.006      15.295      90.735
City_Hatfield                               -1.2008      9.069     -0.132      0.895     -19.007      16.605
City_Hemel Hempstead                       -10.7948     18.263     -0.591      0.555     -46.652      25.063
City_Hexham                                -13.9992     18.589     -0.753      0.452     -50.496      22.497
City_High Wycombe                           10.8053     18.279      0.591      0.555     -25.082      46.693
City_Hoddesdon                              -1.3397      9.543     -0.140      0.888     -20.075      17.396
City_Horsham                                 2.3850     13.563      0.176      0.860     -24.244      29.014
City_Isleworth                               5.8083      9.291      0.625      0.532     -12.433      24.049
City_Kingston upon Hull                      0.0979     11.755      0.008      0.993     -22.981      23.177
City_Leatherhead                            13.7697     10.149      1.357      0.175      -6.156      33.696
City_Leeds                                   7.7639      5.354      1.450      0.147      -2.748      18.276
City_Liverpool                              25.1600     13.134      1.916      0.056      -0.627      50.947
City_Livingston                             -7.2633     12.338     -0.589      0.556     -31.487      16.960
City_London                                 -2.2185      2.031     -1.092      0.275      -6.207       1.770
City_Loughborough                          -21.6291     13.570     -1.594      0.111     -48.272       5.013
City_Luton                                   2.2505     11.521      0.195      0.845     -20.369      24.870
City_Lytham                                -11.0776     13.614     -0.814      0.416     -37.808      15.652
City_Macclesfield                           63.0914     18.465      3.417      0.001      26.837      99.345
City_Maidenhead                             28.2639      9.402      3.006      0.003       9.804      46.724
City_Manchester                             -1.5006      3.802     -0.395      0.693      -8.965       5.964
City_Melbourn                               29.6151     18.161      1.631      0.103      -6.042      65.272
City_Middlesbrough                          -0.4525     18.153     -0.025      0.980     -36.093      35.188
City_Milton                                  0.5660     10.683      0.053      0.958     -20.409      21.541
City_Milton Keynes                          12.2935      9.519      1.292      0.197      -6.395      30.982
City_Morecambe                              -7.2021     13.200     -0.546      0.586     -33.119      18.715
City_Newcastle upon Tyne                   -12.3028      5.792     -2.124      0.034     -23.674      -0.931
City_Newport                                 1.6801      6.141      0.274      0.784     -10.378      13.738
City_Norwich                                 4.9758     11.393      0.437      0.662     -17.393      27.345
City_Nottingham                             -2.1228      7.917     -0.268      0.789     -17.666      13.421
City_Oxford                                 -0.2042      5.380     -0.038      0.970     -10.768      10.359
City_Paddington                              5.2778     13.754      0.384      0.701     -21.726      32.282
City_Paisley                                -7.1083      9.272     -0.767      0.444     -25.313      11.096
City_Peterborough                          -16.8300     13.626     -1.235      0.217     -43.583       9.923
City_Petersfield                           -10.8375     18.700     -0.580      0.562     -47.552      25.877
City_Plymouth                                1.3780     14.654      0.094      0.925     -27.392      30.148
City_Poole                                 -26.3049     18.891     -1.392      0.164     -63.394      10.784
City_Portsmouth                              0.4359      5.858      0.074      0.941     -11.066      11.938
City_Reading                                 8.4700      5.317      1.593      0.112      -1.969      18.909
City_Redruth                               -18.9057     12.364     -1.529      0.127     -43.180       5.369
City_Remote                                 -6.8942      6.157     -1.120      0.263     -18.983       5.195
City_Renfrewshire                            0.2832      9.277      0.031      0.976     -17.930      18.497
City_Richmond                                4.5342      9.014      0.503      0.615     -13.164      22.232
City_Richmond upon Thames                    1.0777     10.883      0.099      0.921     -20.289      22.444
City_Royal Leamington Spa                   11.6174      9.387      1.238      0.216      -6.813      30.048
City_Royal Tunbridge Wells                 -24.7475     11.666     -2.121      0.034     -47.653      -1.842
City_Runcorn                                 7.4395     14.591      0.510      0.610     -21.207      36.086
City_San Francisco                           4.5117      8.437      0.535      0.593     -12.053      21.076
City_Sedgefield                              0.0628      8.568      0.007      0.994     -16.759      16.885
City_Sheffield                              17.1819      9.498      1.809      0.071      -1.467      35.831
City_Sittingbourne                           2.5041     18.625      0.134      0.893     -34.064      39.072
City_Slimbridge                            -30.2134     13.386     -2.257      0.024     -56.495      -3.932
City_Slough                                 14.8959     10.634      1.401      0.162      -5.982      35.774
City_Southminster                           -9.2603     11.926     -0.776      0.438     -32.675      14.155
City_Stansted Mountfitchet                  -8.8536     18.185     -0.487      0.627     -44.558      26.851
City_Stevenage                               1.4900     10.924      0.136      0.892     -19.958      22.938
City_Stoke-on-Trent                         16.2928     13.163      1.238      0.216      -9.552      42.137
City_Sunderland                             14.4268      9.337      1.545      0.123      -3.905      32.759
City_Surbiton                              -17.1749     18.305     -0.938      0.348     -53.115      18.765
City_Swansea                                -7.1451     10.784     -0.663      0.508     -28.317      14.027
City_Swindon                               -10.3175      8.162     -1.264      0.207     -26.342       5.707
City_Thame                                 -20.1061     18.430     -1.091      0.276     -56.290      16.078
City_Theale                                 -2.3343      4.317     -0.541      0.589     -10.810       6.142
City_Thetford                              -11.5637      8.601     -1.344      0.179     -28.450       5.323
City_Trafford Park                         -12.1740     13.219     -0.921      0.357     -38.128      13.780
City_Tranent                                 7.5358     17.122      0.440      0.660     -26.080      41.152
City_United Kingdom                         -7.0809      4.392     -1.612      0.107     -15.703       1.541
City_Uxbridge                                6.3861      5.817      1.098      0.273      -5.034      17.807
City_Walsall                                58.1344     18.092      3.213      0.001      22.613      93.656
City_Waltham                                21.7010     10.744      2.020      0.044       0.607      42.795
City_Walton-on-Thames                       -9.0907      8.807     -1.032      0.302     -26.382       8.201
City_Warrington                             -4.0219     13.462     -0.299      0.765     -30.452      22.409
City_Watford                                 4.9766     12.192      0.408      0.683     -18.961      28.914
City_Welwyn                                 -4.3623     18.800     -0.232      0.817     -41.273      32.548
City_Welwyn Garden City                     -7.3042     18.509     -0.395      0.693     -43.645      29.036
City_West Drayton                          -11.8707      9.094     -1.305      0.192     -29.726       5.984
City_West Kilbride                          -1.9719     16.906     -0.117      0.907     -35.164      31.220
City_Wilmslow                               -0.2154     18.350     -0.012      0.991     -36.243      35.812
City_Wimbledon                             -11.3368     18.524     -0.612      0.541     -47.707      25.033
City_Wolverhampton                          -3.7969     18.959     -0.200      0.841     -41.021      33.427
City_York                                   51.5180     19.007      2.711      0.007      14.201      88.835
Region_                                      6.2068      2.107      2.946      0.003       2.070      10.343
Region_ East Midlands                      -11.8707      9.094     -1.305      0.192     -29.726       5.984
Region_ East of England                      4.2288      4.647      0.910      0.363      -4.894      13.352
Region_ Gwynedd                             -0.2368      4.127     -0.057      0.954      -8.339       7.866
Region_ London                               4.5342      9.014      0.503      0.615     -13.164      22.232
Region_ Newport                              1.6801      6.141      0.274      0.784     -10.378      13.738
Region_ North East England                  14.4268      9.337      1.545      0.123      -3.905      32.759
Region_ North West England                  -6.8369      7.353     -0.930      0.353     -21.274       7.600
Region_ South East England                   0.4359      5.858      0.074      0.941     -11.066      11.938
Region_ South West England                  -2.3343      4.317     -0.541      0.589     -10.810       6.142
Region_ Yorkshire and the Humber             4.0948      7.177      0.571      0.568      -9.995      18.185
Region_Unknown                               3.0245      3.395      0.891      0.373      -3.641       9.690
Country_                                     6.2068      2.107      2.946      0.003       2.070      10.343
Country_ CA                                  4.5117      8.437      0.535      0.593     -12.053      21.076
Country_ England                             5.4242      3.179      1.706      0.088      -0.818      11.666
Country_ Northern Ireland                   -0.4111      6.183     -0.066      0.947     -12.550      11.728
Country_ Scotland                            3.6437      4.173      0.873      0.383      -4.550      11.837

C:\Users\Saurabh\anaconda3\envs\webscrape\lib\site-packages\numpy\core\fromnumeric.py:2580: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [ ]:
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.model_selection import cross_val_score